<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
  {% svgsprite %}

  {% svg "sub_dir_1--placeholder-feature" %}
  {% svg "sub_dir_2--sub_sub_dir_2--placeholder_slider" %}
  {% svg "placeholder-thumb", "custom-class-1 custom-class-2"%}
  </body>
</html>
