<h1>Demo</h1>
<h2>Nunjucks</h2>
<iframe style="display: block; width: 100%; min-height: 200px"
  src="/demo-nunjucks" frameborder="0"></iframe>
<h2>Liquid</h2>
<iframe style="display: block; width: 100%; min-height: 200px"
  src="/demo-liquid" frameborder="0"></iframe>
<h2>Handlerbars</h2>
<iframe style="display: block; width: 100%; min-height: 200px"
  src="/demo-handlebars" frameborder="0"></iframe>
<h2>11ty.js</h2>
<iframe style="display: block; width: 100%; min-height: 200px" src="/demo-11ty"
  frameborder="0"></iframe>